body {
  font-family: sans-serif;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: gray;
  font-size: 14px;
}

.nav-btn.active {
  color: #2563eb; /* Tailwind: blue-600 */
}

#bottom-nav i {
  font-size: 20px;
}
